.dash_item_help{background:url(../images/dashboard/help.png) 10px center no-repeat;}
.dash_item_stats{background:url(../images/dashboard/stats.png) 10px center no-repeat;}
.dash_item_domains{background:url(../images/dashboard/domains.png) 10px center no-repeat;}
.dash_item_users{background:url(../images/dashboard/users.png) 10px center no-repeat;}
.dash_item_payments{background:url(../images/dashboard/coins_2.png) 10px center no-repeat;}
.dash_item_tickets{background:url(../images/dashboard/comments.png) 10px center no-repeat;}