.page_users_list .user_area{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 43px;
	overflow: hidden;
	border-bottom:1px solid #dadada;
}


.page_users_list .user_area > .user_line{
	display: block;
	clear:both;
	border-top: 1px solid #dadada;
	padding: 3px;
	min-width:800px;
}
.page_users_list .user_area > .user_line:first-child{
	border-top: 0;
}


.page_users_list .user_line > div.left{
	display:inline-block;
	padding-left:5px;
	border-left:3px double #dadada;
}

.page_users_list .user_line > div.left:first-child{
	border-left:3px double #FFFFFF;
	padding-left:0px;
}

.page_users_list .user_line > div.right{
	float:right;
	padding-left:5px;
	padding-right:5px;
	padding-top:1px;
	padding-bottom:1px;
	border-left:3px double #dadada;
}



.page_users_list #user_campaign_id{
	width:200px;
}


.page_users_list #user_search_name{
	width:200px;
}

.page_users_list .user_area .icon_user{
	background:url(../images/icons/icon_user_24.png) left top no-repeat;
}
.page_users_list .user_area .icon_user_clear{
	background:url(../images/icons/icon_clear_24.png) left top no-repeat;
}
.page_users_list .user_area .icon_user_add{
	background:url(../images/icons/icon_add_24.png) left top no-repeat;
	padding-left:27px;
}


.page_users_list #usersarea{
	position: absolute;
	top: 55px;
	left: 0px;
	right: 0px;
	bottom:0px;
	overflow: auto;
}

.page_users_list #userstable{
	margin-top: 5px;
}

.page_users_list #userstable th,
.page_users_list #userstable td{
	vertical-align: middle;
}
